<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='styles.css'>
    <title>AA</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
</head>
<body>
<!--This is in my html, but {{thing}} is loaded from js.-->


<div id="sidebar">
    <h4>Meeting Name</h4>
    <p id="meet-name"></p>
</div>

<div id="mapid"></div>

{{!--{{#blockofMeetings}}--}}
{{!--The meeting is on <h1>{{day}}</h1>--}}
{{!--<h2>{{starttime}}</h2>--}}
{{!--<br>--}}
{{!--{{/blockofMeetings}}--}}




<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   
   <script>
  const data = {{{myData}}};
  console.log(data)
  
       
            var mymap = L.map('mapid').setView([40.734636,-73.994997], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/nourzein/ck37isbvd0zd01cnkqcp4lcch/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoibm91cnplaW4iLCJhIjoiY2pkcGIzZmFpMGU2ODMzcGZrcjU0ZXAwbyJ9.XzdB3fcBU9caHJoJe3vSOg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1Ijoibm91cnplaW4iLCJhIjoiY2pkcGIzZmFpMGU2ODMzcGZrcjU0ZXAwbyJ9.XzdB3fcBU9caHJoJe3vSOg'
    }).addTo(mymap);
    for (var i=0; i<data.length; i++) {
        L.marker( [data[i].latitude, data[i].longitude] ).bindPopup(data[i].meetingname).addTo(mymap);
        //._icon.style.backgroundColor = 'green'
    }
    
    
    // on click -> fire function buildContent(passdatafromclick)
    
let meetingName = [];
    function buildContent(data){
    // const sidebar = document.querySelector('#sidebar');
    let meetingName = document.querySelector('#meet-name')
    meetingName.innerHTML= data[0].meetingname;
    }
    
    
                   
   </script>
  
   
</body>

</html>