{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":19},"end":{"row":1,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/ini"},"cleansed":true},"hash":"5f447dc5010b18709ec6fb3ab65ac29532c3b48b","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1572554360555}